/* Isso precisa estar no final do seu style.css */
#loader,
.login,
.modal, 
.checkout {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader,
.login {
  background: var(--bg-dark);
  z-index: 9999;
}

.modal, 
.checkout {
  background: rgba(0, 0, 0, 0.9);
  z-index: 2000;
}
